body {
  color: #b9b6bc;
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
}

#content {
  background-image: url("../images/TheOffice.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-top: 40px;
  height: 100vh;
}

/* custom elements */

/* customer classes */
.container-bg {
  position: relative;
  border-radius: 15px;
  padding: 10px;
  background-color: #261f1a;
  opacity: 0.9;
}

.choice {
  border: 1px solid #b9b6bc;
  margin: 4px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.7;
  width: 100%;
}

.answer-container {
  border: 1px solid #b9b6bc;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  opacity: 0.7;
  width: 250px;
  height: 250px;
  font-size: 150px;
  text-align: center;
}

/* Custom ID's */
#trivia-time-remaining {
  text-align: center;
}

#trivia-question {
  text-align: center;
}

#container-logo {
  position: absolute;
  top: -30px;
  left: -40px;
}
/* Bootstrap customizations */
.jumbotron {
  text-align: center;
  background-color: #261f1a;
  color: #b9b6bc;
  font-size: 42px;
  margin: 0px;
}

.choice:hover {
  background-color: #b9b6bc;
}
